<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>表单多选</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div id="app">
        <input type="checkbox" v-model="checked" value="html" id="html">
        <label for="html">HTML</label>
        <br>
        <input type="checkbox" v-model="checked" value="js" id="js">
        <label for="js">JAVASCRIPT</label>
        <br>
        <input type="checkbox" v-model="checked" value="css" id="css">
        <label for="css">CSS</label>
        <br>
        <p>选择的项是：{{checked}}</p>
    </div>
    <script src="js/vue.js"></script>
    <script>
        var app = new Vue({
            el:'#app',
            data:{
                checked:[]
            }
        })
    </script>
</body>
</html>